body{
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
      background-color: whitesmoke;
      color: blue;
      padding: 20px;

}